
# Ignore After Effects Plugin SDK According to Original License
# original -> (https://developer.adobe.com/console/servicesandapis)
lib/After Effects Plugin SDK/*

# Dependency directories
node_modules/

# Compiled binary addons
build/

# Yarn v4
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
lib/test
test/plugins
